#root {
  max-width: 1280px;
  min-height: 100vh;
}

body {
  position: relative;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
  overflow:visible ;
}

.search-bar {
  z-index: 5000;
  position: sticky;
  max-width: 1280px;
  top: 0;
  padding: 1em 0;
  background-color: #121212;
}

.gif-wrapper {
  position: relative;
}

